@import './variables.scss';
@import './EudoxusSans/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eudoxus Sans', sans-serif;
  font-style: normal;
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}