@mixin font($font-size, $line-height, $font-weight: 500 ) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin flex($justify-content: space-between, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}