$green: #518581;

$black: #151411;
$black-nature: #000000;


$grey: #AFADB5;
$grey-disabled: #5b5b58;

$white: #ffffff;
$white-grey: #F3F3F3;
$white-page: #F9F9F9;
$white-btn: #D9D9D9;

$blue-btn: #5D9CEC;

$shadow: rgba(175, 173, 181, 0.2);